In [ ]:
# üì¶ Required Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style="whitegrid")

In [ ]:
-- üé¨ Load Netflix Titles from BigQuery
%%bigquery df
SELECT *
FROM `bigquery-public-data.netflix_titles.netflix_titles`
LIMIT 1000

In [ ]:
# üëÄ Preview the Data
df.head()

# ‚úÖ If you're using BigQuery on Kaggle, do this:
üéØ Correct Way Using %%bigquery:

In [ ]:
%%bigquery df
SELECT type, COUNT(*) AS count
FROM `bigquery-public-data.netflix_titles.netflix_titles`
GROUP BY type

In [ ]:
# üé• Let's compare how many Movies and TV Shows are in the Netflix dataset.
print("üé• Let's compare how many Movies and TV Shows are in the Netflix dataset. Are we binge-watching more movies or shows? Let's find out!")

df.head()

# ‚úÖ Step-by-Step: Use a Short Alias (netflix) in BigQuery
üìå Step 1: Create a temporary view
You can create a temporary table/view using a WITH clause or a subquery and refer to it as netflix in your queries.

‚úÖ Example:

In [ ]:
%%bigquery type_count
WITH netflix AS (
  SELECT *
  FROM `bigquery-public-data.netflix_titles.netflix_titles`
)
SELECT type, COUNT(*) AS count
FROM netflix
GROUP BY type

In [ ]:
# üé• Output
type_count.head()

# üîÅ You can reuse this WITH netflix AS (...) pattern in all your queries
‚úÖ Another example:

In [ ]:
%%bigquery top_countries
WITH netflix AS (
  SELECT *
  FROM `bigquery-public-data.netflix_titles.netflix_titles`
)
SELECT country, COUNT(*) AS total
FROM netflix
WHERE country IS NOT NULL
GROUP BY country
ORDER BY total DESC
LIMIT 10

# üé¨ Netflix BigQuery Project Template using Alias netflix
‚úÖ Step 1: Setup (Python for visualization)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style="whitegrid")

# 1Ô∏è‚É£ üé• Count of Movies vs TV Shows

In [ ]:
%%bigquery type_count
WITH netflix AS (
  SELECT *
  FROM `bigquery-public-data.netflix_titles.netflix_titles`
)
SELECT type, COUNT(*) AS count
FROM netflix
GROUP BY type

In [ ]:
# Visualize content type
sns.barplot(data=type_count, x='type', y='count')
plt.title("Count of Movies vs TV Shows on Netflix")
plt.xlabel("Type")
plt.ylabel("Total")
plt.show()

# 2Ô∏è‚É£ üåç Top 10 Countries Producing Netflix Content

In [ ]:
%%bigquery top_countries
WITH netflix AS (
  SELECT *
  FROM `bigquery-public-data.netflix_titles.netflix_titles`
)
SELECT country, COUNT(*) AS total
FROM netflix
WHERE country IS NOT NULL
GROUP BY country
ORDER BY total DESC
LIMIT 10

In [ ]:
# Visualize countries
sns.barplot(data=top_countries, y='country', x='total')
plt.title("Top 10 Countries Producing Netflix Content")
plt.xlabel("Total Titles")
plt.ylabel("Country")
plt.show()

# 3Ô∏è‚É£ üé≠ Most Common Genres (Split by Comma)

In [ ]:
%%bigquery genre_count
WITH netflix AS (
  SELECT *
  FROM `bigquery-public-data.netflix_titles.netflix_titles`
)
SELECT genre, COUNT(*) AS total
FROM (
  SELECT TRIM(SPLIT(genre_item)[OFFSET(0)]) AS genre
  FROM (
    SELECT SPLIT(listed_in, ',') AS genre_list
    FROM netflix
  ), UNNEST(genre_list) AS genre_item
)
GROUP BY genre
ORDER BY total DESC
LIMIT 10

In [ ]:
# Top genres
sns.barplot(data=genre_count, x='total', y='genre')
plt.title("Top 10 Netflix Genres")
plt.xlabel("Total Titles")
plt.ylabel("Genre")
plt.show()

# 4Ô∏è‚É£ üìÖ Year-wise Trend of Releases

In [ ]:
%%bigquery release_trend
WITH netflix AS (
  SELECT *
  FROM `bigquery-public-data.netflix_titles.netflix_titles`
)
SELECT release_year, COUNT(*) AS total
FROM (
  SELECT EXTRACT(YEAR FROM release_date) AS release_year
  FROM netflix
  WHERE release_date IS NOT NULL
)
GROUP BY release_year
ORDER BY release_year

In [ ]:
# Trend of releases
sns.lineplot(data=release_trend, x='release_year', y='total', marker='o')
plt.title("Year-wise Trend of Netflix Releases")
plt.xlabel("Year")
plt.ylabel("Total Titles Released")
plt.xticks(rotation=45)
plt.show()

# 5Ô∏è‚É£ üé¨ Most Frequent Directors on Netflix

In [ ]:
%%bigquery top_directors
WITH netflix AS (
  SELECT *
  FROM `bigquery-public-data.netflix_titles.netflix_titles`
)
SELECT director, COUNT(*) AS total
FROM netflix
WHERE director IS NOT NULL
GROUP BY director
ORDER BY total DESC
LIMIT 10

In [ ]:
# Top directors
sns.barplot(data=top_directors, y='director', x='total')
plt.title("Top 10 Most Featured Directors on Netflix")
plt.xlabel("Number of Titles")
plt.ylabel("Director")
plt.show()